
#core-layout {
 height: 100%;
}
#main-content {
 width: calc(100% - 150px);
 height: 100%;
}
.core-layout__viewport {
 height: 100%;
 overflow: auto;
 padding:20px;
}
/*example for overriding editable-datetimepicker css*/
.editable-datepicker input:focus{
    border-color: #b22121 !important;
}
.editable-datepicker .react-datepicker__day--keyboard-selected{
    background-color: #cccccc !important;
}