
.ui.form .field-error .customClass input[type="file"] {
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #9F3A38 !important;
    border-radius: '';
    box-shadow: none;
}

#progress-container {
    padding-top: 10px;
}

.preview-container{
    display: flex;
    flex-wrap: wrap;
}