.react-datepicker-wrapper {
    display: block;
    // display: inline-block;
}

.react-datepicker__input-container {
    position: relative;
    display: block !important;
    // display: inline-block;
}  
  